In [4]:
team = "india"
worldcup = 2012
captain = "kholi"
rank = 1
print(team, "is number 1 team and has won", worldcup, "worldcup and it rank", rank, "and the captain name is", captain)

india is number 1 team and has won 2012 worldcup and it rank 1 and the captain name is kholi

In [5]:
x = 56
y = 56.78
z = "python"
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [6]:
a = 10
print(float(a))

10.0

In [7]:
a = 12.56
print(int(a))

12

In [9]:
a = "10"
b = "20"
print(a+b)
print(int(a)+int(b))

1020
30

In [10]:
a = "hello"
print(int(a))

ValueError: invalid literal for int() with base 10: 'hello'